In [1]:
import pandas as pd
curr=pd.read_csv('export.csv')
curr.head()

     CODE BASE_CURRENCY QUOTE_CURRENCY
0  AUDUSD           AUD            USD
1  AUDJPY           AUD            JPY
2  AUDNZD           AUD            NZD
3  AUDCAD           AUD            CAD
4  AUDCHF           AUD            CHF

In [3]:
curr["new"]=curr[["BASE_CURRENCY","QUOTE_CURRENCY"]].apply(lambda x:"-".join(x),axis=1)
curr.head()

     CODE BASE_CURRENCY QUOTE_CURRENCY      new
0  AUDUSD           AUD            USD  AUD-USD
1  AUDJPY           AUD            JPY  AUD-JPY
2  AUDNZD           AUD            NZD  AUD-NZD
3  AUDCAD           AUD            CAD  AUD-CAD
4  AUDCHF           AUD            CHF  AUD-CHF

In [4]:
curr.to_csv('currency.csv')